//定义px与rem转换函数
@function p2r($px){
    $rem : 64px;
    @return ($px/$rem) + rem;
}
//声明iconfont字体
@font-face {font-family: 'iconfont';
	src: url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	font-family:PingFang SC,Microsoft YaHei;
}

a {
	text-decoration: none;
}

.top-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	header {
		background-color: #ff5301;
		.header-wrap {
			padding-top: p2r(22px);
			padding-bottom: p2r(19px);
			padding-right: p2r(13px);
			padding-left: p2r(73px);
			background-image: url("../images/logo.png");
			background-size: p2r(54px) p2r(40px);
			background-position: p2r(9px) center;
			background-repeat: no-repeat;
			box-sizing: border-box;
			#search-placeholder {
				background-color: #b82601;
				text-align: center;
				font-size: p2r(26px);
				border-radius: p2r(8px);
				span {
					display: inline-block;
					height: p2r(50px);
					line-height: p2r(50px);
					border-radius: p2r(7px);
					font-size: p2r(25px);
					color: #efe0dd;
					vertical-align: middle;
					.iconfont {
						font-size: p2r(30px);
					}
				}	
			}
		}
	}
	.app {
		font-size: 0;
		width: 100%;
		height: p2r(84px);
		background-color: #5f646e;
		.close {
			display: inline-block;
			vertical-align: top;
			height: p2r(84px);
			width: p2r(80px);
			line-height: p2r(84px);
			color: #fff;
			.iconfont {
				font-size: p2r(34px);
				margin-left: p2r(17px);
			}
		}
		.app-logo {
			display: inline-block;
			vertical-align: top;
			width: p2r(400px);
			height: p2r(84px);
			line-height: p2r(84px);
			img {
				width: p2r(60px);
				height: p2r(60px);
				vertical-align: middle;
				margin-right: p2r(16px);
			}
			span {
				font-size: p2r(25px);
				vertical-align: middle;
				color: #fff;
			}
		}
		.download {
			display: inline-block;
			vertical-align: top;
			width: p2r(160px);
			height: p2r(84px);
			background-color: #ff5301;
			font-size: p2r(30px);
			line-height: p2r(84px);
			text-align: center;
			color: #fff;
		}
	}
}

.scroll-wrap {
	margin-top: p2r(84px + 90px);
	margin-bottom: p2r(88px);
	background-color: #eeeeee;
	.slider-banner {
		width: 100%;
		height: p2r(200px);
		background-color: #bbb;
	}
	.eight-botton {
		background-color: #FFF;
		padding-top: p2r(20px);
		padding-bottom: p2r(20px);
		.line {
			width: p2r(616px);
			display: flex;
			font-size: 0;
			text-align: center;
			margin: auto;
			a {
				flex: 1;
				//width: p2r(154px);
				font-size: 0;
				img {
					width: p2r(78px);
				}
				.botton-text {
					font-size: p2r(23px);
					color: #666666;
					margin-top: p2r(6px);
				}
			}
		}
		#line2 {
			padding-top: p2r(24px);
		}
	}
}

.toutiao {
	box-sizing: border-box;
	padding-top: p2r(8px);
	padding-bottom: p2r(8px);
	height: p2r(64px);
	background-color: #FFF;
	font-size: 0;
	span {
		vertical-align: middle;
		display: inline-block;
	}
	.toutiao-logo {
		box-sizing: border-box;
		height: p2r(48px);
		width: p2r(137px);
		line-height: p2r(48px);
		border-right: p2r(2px) solid #eee;
		background: url(../images/toutiao.png) center center / p2r(99px) p2r(29px) no-repeat;
	}
	.box {
		margin-left: p2r(18px);
		margin-right: p2r(18px);
		box-sizing: border-box;
		height: p2r(34px);
		width: p2r(68px);
		line-height: p2r(30px);
		font-size: p2r(28px);
		color: #da0d14;
		border: p2r(2px) solid;
		border-radius: p2r(7px);
		text-align: center;
	}
	.toutiao-title {
		height: p2r(48px);
		line-height: p2r(48px);
		font-size: p2r(28px);
		color: 3b3b3b;
	}
}

.board-one{
	margin-top: p2r(20px);
	height: p2r(320px);
	width: 100%;
	background-color: #FFF;
	box-sizing: border-box;
	font-size: 0;
	div {
		box-sizing: border-box;
	}
	.one-left {
		background: url(../images/one-left.jpg) / p2r(233px) p2r(308px);
		background-repeat: no-repeat;
		display: inline-block;
		width: p2r(257px);
		height: p2r(320px);
		border-right: p2r(2px) solid #eee;
	}
	.one-right {
		display: inline-block;
		vertical-align: top;
		.one-right-top {
			width: p2r(383px);
			height: p2r(146px);
			border-bottom: p2r(2px) solid #eee;
			img {
				height: 98%;
			}
		}
		.one-right-bottom {
			img {
				width: 100%;
			}
			.one-right-bottom-left {
				height: p2r(320px - 146px);
				display: inline-block;
				width: p2r(192px);
				border-right: p2r(2px) solid #eee;
			}
			.one-right-bottom-right {
				display: inline-block;
				width: p2r(191px);
			}
		}
	}
}

.title-box{
	margin-left: p2r(11.5px);

}
.board-title {
	height: p2r(63px);
	font-size: 0;
	background-color: #eee;
	div {
		vertical-align: top;
	}
	.dline {
		box-sizing: border-box;
		display: inline-block;
		width: p2r(244px);
		height: p2r(32px);
		border-bottom: p2r(2px) solid #ccc;
	}
	.title {
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		height: p2r(63px);
		line-height: p2r(63px);
		padding-left: p2r(10px);
		padding-right: p2r(4px);
		span {
			vertical-align: middle;
			color: #ff1701;
			font-size: p2r(27px);
		}
		img {
			vertical-align: middle;
			width: p2r(34px);
		}
	}
}

.board-two {
	background-color: #FFF;
	div {
		vertical-align: top;
	}
	.two {
		box-sizing: border-box;
		height: p2r(202px);
		font-size: 0;
		.left {
			width: p2r(256px);
			display: inline-block;
			box-sizing: border-box;
			height: p2r(202px);
			border-bottom: p2r(2px) solid #eee;
			img {
				width: 100%;
			}
		}
		.right {
			display: inline-block;
			box-sizing: border-box;
			div {
				display: inline-block;
				width: p2r(128px);
				height: p2r(202px);
				box-sizing: border-box;
				border-left: p2r(2px) solid #eee;
				border-bottom: p2r(2px) solid #eee;
				img {
					width: 100%;
				}
			}
		}
	}
}
#title2 {
	color: #6c20a4;
}

.items {
	font-size: 0;
	background-color: #eee;
	.items-line {
		height: p2r(387px);
		margin-bottom: p2r(8px);
		box-sizing: border-box;
		.item-left {
			width: p2r(316px);
			display: inline-block;
			margin-right: p2r(8px);
			background-color: #FFF;
		}
		.item-right {
			display: inline-block;
			width: p2r(316px);
			background-color: #FFF;
		}
		.item-img {
			box-sizing: border-box;
			height: p2r(279px);
			width: p2r(316px);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: p2r(316px);
		}
		.item-info{
			height: p2r(50px);
			width: p2r(316px);
			box-sizing: border-box;
			padding: p2r(12px) p2r(20px);
			font-size: p2r(25px);
			line-height: p2r(26px);
		}
		.item-price {
			box-sizing: border-box;
			width: p2r(316px);
			height: p2r(57px);
			padding-left: p2r(20px);
			font-size: p2r(30px);
			color: #ff5301;
		}
	}
	#items-line-bottom {
		margin-bottom: 0;
	}
	padding-bottom: p2r(8px);
}

#img1 {
	background-image: url(../images/item1.jpg);
}
#img2 {
	background-image: url(../images/item2.png);
}
#img3 {
	background-image: url(../images/item3.jpg);
}
#img4 {
	background-image: url(../images/item4.jpg);
}
#img5 {
	background-image: url(../images/item5.jpg);
}
#img6 {
	background-image: url(../images/item6.jpg);
}

.login {
	height: p2r(200px);
	background-color: #4e525e;
	font-size: 0;
	box-sizing: border-box;
	padding: p2r(36px) p2r(16px);
	.logbotton {
		display: flex;
		justify-content: space-between;
		a{
			display: inline-block;
			background-color: #555965;
			border: p2r(2px) solid #42454d;
			height: p2r(64px);
			line-height: p2r(64px);
			border-radius: p2r(12px);
			font-size: p2r(28px);
			color: #c3c6ca;
			padding-right: p2r(30px);
			padding-left: p2r(30px);
		}
	}
	.copyright {
		font-size: p2r(24px);
		color: #c3c6ca;
		text-align: center;
		margin-top: p2r(36px);
	}
}
.bottom-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	footer {
		width: 100%;
		padding-top: p2r(11px);
		display: flex;
		height: p2r(73px);
		border-top: p2r(2px) solid #E7E7E7;
		border-bottom: p2r(2px) solid #F8F8F8;
		a {
			box-sizing: border-box;
			flex: 1;
			text-align: center;
			font-size: p2r(24px);
			line-height: p2r(24px);
			color: #5d646a;
			span {
				font-size: p2r(40px);
				line-height: p2r(40px);
			}
			.iconfont{
				font-size: p2r(40px);
			}
		}
	}
}